<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/php/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    requireCoverageMetadata="false"
    colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/php/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/php/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/php</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="coverage/html"/>
        </report>
    </coverage>
</phpunit>
